.cameraContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  padding: 2rem;
  text-align: center;
  color: var(--error-1);
}

.error button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem 2rem;
  background-color: var(--error-1);
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}